
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(379px, 9fr));
  grid-gap: 2.5rem;
  margin-top: 18.75rem;
    
  }

  .SearchAndLanguageContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    height: 8.8rem;
}
.searchBar{
  margin-bottom: auto;
}
  
  @media only screen and (max-width: 400px) {
    
    
    
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
      grid-gap: 1.5rem;
      margin-top: 8.25rem ;
    }
    
  }

  @media only screen and (min-width: 400px) and (max-width: 550px) {
    .paginationContainer {
      display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1.25rem;
    width: 25.938rem;
    height: 4.5rem;
    margin-left:1.625rem;
  }
    
   
  }